<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>ADD NEW PRODUCT</h1>
    <form action="/products" method="post">
        <label for="name">Product name:</label>
        <input type="text" id="name" name = "name" placeholder="Product name">
        <label for="price">Price:</label>
        <input type="number" step="any" id="price" name="price" placeholder="Price">
        <label for="category">Category:</label>
        <select name="category" id="category">
         <option value="fruit">Fruit</option>
         <option value="vegetable">Vegetable</option>
         <option value="dairy">Dairy</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>